<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="VersionString" value="VGM工具箱涅普缇努汉化版r1047rev4(2025_09_23)"/>
    <!--############-->
    <!-- Tree Nodes -->
    <!--############-->
    <add key="MenuTree_RootNode" value="VGM工具箱   "/>
    <!-- Auditing Node -->
    <add key="MenuTree_AuditingRootNode" value="审计工具"/>
    <add key="MenuTree_DatafileCreatorNode" value="数据文件创建者"/>
    <add key="MenuTree_RebuilderNode" value="重建者"/>
    <add key="MenuTree_DatafileCheckerNode" value="数据文件检查器"/>
<add key="MenuTree_DatafileEditorNode" value="数据文件编辑器"/>
<add key="MenuTree_CollectionBuilderNode" value="集合构建器"/>
<!-- Examine Node -->
<add key="MenuTree_ExamineRootNode" value="检查/探索工具"/>
<add key="MenuTree_TagViewerNode" value="标签/信息查看器"/>
<add key="MenuTree_ChecksumNode" value="校验和计算器/重复文件查找器"/>
<add key="MenuTree_SearchForFilesNode" value="文件搜索"/>
<!-- Miscellaneous Node -->
<add key="MenuTree_MiscellaneousToolsNode" value="杂项工具"/>
<!-- Hoot Node -->
<add key="MenuTree_HootRootNode" value="Hoot工具"/>
<add key="MenuTree_CsvDatafileNode" value="CSV转数据文件"/>
<add key="MenuTree_XmlBuilderNode" value="XML构建器"/>
<add key="MenuTree_HootAuditorNode" value="集合审核器"/>
<!-- NSF Node -->
<add key="MenuTree_NsfRootNode" value="NSF工具"/>
<add key="MenuTree_NsfeM3uNode" value="NSFE转NSF+M3U"/>
<!-- GBS Node -->
<add key="MenuTree_GbsRootNode" value="GBS工具"/>
<add key="MenuTree_GbsM3uNode" value="GBS M3U创建器"/>
<!-- VGM Node -->
<add key="MenuTree_VgmRootNode" value="VGM工具"/>
<add key="MenuTree_VgmTagEditorNode" value="VGM标签编辑器"/>
<!-- xSF Node -->
<add key="MenuTree_XsfRootNode" value="xSF工具"/>
<add key="MenuTree_Xsf2ExeNode" value="xSF转EXE"/>
<add key="MenuTree_XsfRecompressNode" value="xSF重新压缩"/>
<add key="MenuTree_XsfTagEditorNode" value="xSF标签编辑器"/>
<add key="MenuTree_2sfRootNode" value="2SF"/>
<add key="MenuTree_2sfRipperOldNode" value="2SF提取器（旧格式）"/>
<add key="MenuTree_Make2sfNode" value="制作2SF文件"/>
<add key="MenuTree_NdsTo2sfNode" value="NDS转2SF"/>
<add key="MenuTree_2sfTimerNode" value="2SF定时器"/>
<add key="MenuTree_SdatOptimizerNode" value="SDAT优化器"/>
<add key="MenuTree_V1toV2CopyNode" value="V1到V2标签复制器"/>
<add key="MenuTree_PsfRootNode" value="PSF"/>
<add key="MenuTree_PsfDataFinderNode" value="PSF数据查找器"/>
<add key="MenuTree_Bin2PsfFENode" value="PSF制作器"/>
<add key="MenuTree_PsfStubCreatorNode" value="PSF存根创建器"/>
<add key="MenuTree_SeqExtractorNode" value="PSF定时器"/>
<add key="MenuTree_VabSplitterNode" value="VAB分割器"/>
<add key="MenuTree_EasyPsfExtractorNode" value="简易PSF驱动提取器"/>
<add key="MenuTree_Psf2RootNode" value="PSF2"/>
<add key="MenuTree_Psf2DataFinderNode" value="PSF2数据查找器"/>
<add key="MenuTree_MkPsf2FENode" value="mkpsf2前端"/>
<add key="MenuTree_UnPkPsf2FENode" value="PSF2解包器"/>
<add key="MenuTree_Psf2ToPsf2LibNode" value="PSF2转PSF2LIB"/>
<add key="MenuTree_Psf2SqExtractorNode" value="PSF2 SQ提取器"/>
<add key="MenuTree_Psf2TimerNode" value="PSF2定时器"/>
<add key="MenuTree_SsfRootNode" value="SSF"/>
<add key="MenuTree_SsfMakeFENode" value="ssfmake前端"/>
<add key="MenuTree_SsfSeqTonExtFENode" value="seqext/tonext前端"/>
<!--提取工具-->
<add key="MenuTree_ExtractionRootNode" value="提取工具"/>
<add key="MenuTree_ExtractionGenericRootNode" value="通用"/>
<add key="MenuTree_SimpleCutterNode" value="简易切割器"/>
<add key="MenuTree_OffsetFinderNode" value="高级切割器/偏移查找器"/>
<add key="MenuTree_ExtractCdxaNode" value="CD-XA提取器"/>
<add key="MenuTree_ExtractMidiNode" value="MIDI提取器"/>
<add key="MenuTree_ExtractionNdsRootNode" value="任天堂NDS"/>
<add key="MenuTree_SdatExtractorNode" value="SDAT提取器"/>
<add key="MenuTree_SdatFinderNode" value="SDAT查找器"/>
<add key="MenuTree_ExtractionPcRootNode" value="个人电脑（PC）"/>
<!-- GENH Node -->
<add key="MenuTree_GenhRootNode" value="GENH"/>
<add key="MenuTree_GenhCreationRootNode" value="创建/编辑/提取GENH"/>
<!--解压缩工具-->
<add key="MenuTree_CompressionRootNode" value="解压缩工具"/>
<add key="MenuTree_ExtractGzipNode" value="gzip压缩/解压缩"/>
<add key="MenuTree_ExtractZlibNode" value="zlib压缩/解压缩"/>
<!--#######-->
<!-- Forms -->
<!--#######-->
<add key="Form_Global_OperationCancelled" value="操作已取消."/>
<add key="Form_Global_CancelPending" value="取消待处理..."/>
   <add key="Form_Global_ErrorWindowTitle" value="错误"/>
<add key="Form_Global_DropSourceFiles" value="在此处拖放文件"/>
<!-- Auditing:数据文件检查器-->
<add key="Form_AuditDatafileChecker_Title" value="数据文件检查器"/>
<add key="Form_AuditDatafileChecker_DoTaskButton" value="检查数据文件"/>
<add key="Form_AuditDatafileChecker_IntroText" value="检查现有数据文件中是否存在重复的校验和,并输出报告."/>
<add key="Form_AuditDatafileChecker_MessageBegin" value="正在检查数据文件...开始"/>
<add key="Form_AuditDatafileChecker_MessageComplete" value="正在检查数据文件...完成"/>
<add key="Form_AuditDatafileChecker_MessageCancel" value="正在检查数据文件...已取消"/>
<add key="Form_AuditDatafileChecker_GroupSource" value="源和目标"/>
<add key="Form_AuditDatafileChecker_LblSourceDataFile" value="源数据文件"/>
<add key="Form_AuditDatafileChecker_LblReportDestination" value="报告目标文件夹"/>
<!-- Auditing:数据文件创建器-->
<add key="Form_AuditDatafileCreator_Title" value="数据文件创建器"/>
<add key="Form_AuditDatafileCreator_DoTaskButton" value="创建数据文件"/>
<add key="Form_AuditDatafileCreator_IntroText" value="为输入文件创建一个数据文件."/>
<add key="Form_AuditDatafileCreator_GroupHeader" value="头部信息"/>
<add key="Form_AuditDatafileCreator_GroupSourceDestination" value="源/目标"/>
<add key="Form_AuditDatafileCreator_LblHeaderName" value="名称"/>
<add key="Form_AuditDatafileCreator_LblHeaderDescription" value="描述"/>
<add key="Form_AuditDatafileCreator_LblHeaderVersion" value="版本"/>
<add key="Form_AuditDatafileCreator_LblHeaderAuthor" value="作者"/>
<add key="Form_AuditDatafileCreator_LblHeaderComment" value="注释"/>
<add key="Form_AuditDatafileCreator_LblHeaderCategory" value="类别"/>
<add key="Form_AuditDatafileCreator_LblHeaderDate" value="日期"/>
<add key="Form_AuditDatafileCreator_LblHeaderEmail" value="电子邮件"/>
<add key="Form_AuditDatafileCreator_LblHeaderHomepage" value="主页"/>
<add key="Form_AuditDatafileCreator_LblHeaderUrl" value="网址"/>
<add key="Form_AuditDatafileCreator_MessageBegin" value="正在构建数据文件..."/>
<add key="Form_AuditDatafileCreator_MessageComplete" value="正在构建数据文件...完成"/>
<add key="Form_AuditDatafileCreator_MessageCancel" value="正在构建数据文件...已取消"/>
<!-- Auditing:文件重建器 -->
<add key="Form_AuditRebuilder_Title" value="文件重建器"/>
<add key="Form_AuditRebuilder_DoTaskButton" value="重建"/>
<add key="Form_AuditRebuilder_IntroText" value="根据传入的数据文件对文件进行排序、整理和审核."/>
<add key="Form_AuditRebuilder_GroupDirectories" value="目录"/>
<add key="Form_AuditRebuilder_LblSourceDir" value="源目录"/>
<add key="Form_AuditRebuilder_LblDestinationDir" value="目标目录"/>
<add key="Form_AuditRebuilder_GroupDatafile" value="数据文件路径"/>
<add key="Form_AuditRebuilder_GroupOptions" value="选项"/>
<add key="Form_AuditRebuilder_CheckBoxRemoveSource" value="删除重建的源文件"/>
<add key="Form_AuditRebuilder_CheckBoxOverwrite" value="更新集合（覆盖现有内容）"/>
<add key="Form_AuditRebuilder_CheckBoxScanOnly" value="仅扫描（不移动或删除文件）"/>
<add key="Form_AuditRebuilder_CheckBoxCompressOutput" value="压缩输出"/>
<add key="Form_AuditRebuilder_MessageBegin" value="正在重建..."/>
<add key="Form_AuditRebuilder_MessageComplete" value="正在重建...完成"/>
<add key="Form_AuditRebuilder_MessageCancel" value="正在重建...已取消"/>
<add key="Form_AuditRebuilder_ErrorSourceDestSame" value="源目录不能与目标目录相同"/>
<!-- Auditing:数据文件编辑器 -->
<add key="Form_DatafileEditor_Title" value="数据文件编辑器"/>
<add key="Form_DatafileEditor_DoTaskButton" value="另存为"/>
<add key="Form_DatafileEditor_IntroText" value="- 正在开发中：目前仅删除功能可用. - 仅支持通用XML格式的DAT文件（不支持RM或CM特定的DAT文件）."/>
<add key="Form_DatafileEditor_ErrorDatafileParse" value="解析数据文件时出错：01"/>
<add key="Form_DatafileEditor_ErrorDatafileSelectedNode" value="未选择树节点或所选节点不可编辑."/>
<add key="Form_DatafileEditor_ErrorDatafileSelectedNodeTitle" value="无效选择"/>
<!-- Examine:更新标签-->
<add key="Form_EmbeddedTags_WindowTitle" value="更新标签"/>
<add key="Form_EmbeddedTags_GroupTags" value="标签"/>
<add key="Form_EmbeddedTags_LblName" value="名称"/>
<add key="Form_EmbeddedTags_LblArtist" value="艺术家（们）"/>
<add key="Form_EmbeddedTags_LblCopyright" value="版权"/>
<add key="Form_EmbeddedTags_BtnUpdate" value="更新"/>
<add key="Form_EmbeddedTags_BtnCancel" value="取消"/>
<add key="Form_EmbeddedTags_MessageUpdateComplete" value="“0”的标签已更新.在您再次添加文件之前,更改不会显示在树中."/>
<!-- Examine:标签/信息查看器-->
<add key="Form_ExamineTags_Title" value="标签/信息查看器"/>
<add key="Form_ExamineTags_DoTaskButton" value="全部展开"/>
<add key="Form_ExamineTags_IntroText1" value="将文件或文件夹拖到上方框中以查看信息."/>
<add key="Form_ExamineTags_IntroText2" value="右键单击文件名可更新标签（仅适用于xSF/GBS/NSF/MDX/PSID/S98v3/VGM）."/>
<add key="Form_ExamineTags_CheckBoxCheckForLibs" value="检查是否缺少库文件"/>
<add key="Form_ExamineTags_MessageBegin" value="正在检查...开始"/>
<add key="Form_ExamineTags_MessageComplete" value="正在检查...完成"/>
<add key="Form_ExamineTags_MessageCancel" value="正在检查...已取消"/>
<!-- Examine:验和计算器-->
<add key="Form_ChecksumCalculator_Title" value="校验和计算器"/>
<add key="Form_ChecksumCalculator_IntroText" value="计算输入文件的CRC32/MD5/SHA1.警告：重复检查会比较所有拖入的文件.如果勾选,“将重复文件移动到子文件夹”将移动找到的任何重复文件,而不仅仅是同一目录中的重复文件."/>
<add key="Form_ChecksumCalculator_GroupSourceFiles" value="在此处拖放文件"/>
<add key="Form_ChecksumCalculator_GroupOptions" value="选项"/>
<add key="Form_ChecksumCalculator_CheckBoxDoVgmtChecksums" value="包括VGMToolbox方法（仅检查数据,忽略标签）的校验和."/>
<add key="Form_ChecksumCalculator_CheckBoxCheckForDuplicates" value="检查是否有重复文件,并在输出中附加报告."/>
<add key="Form_ChecksumCalculator_CheckBoxMoveDuplicates" value="如果找到,将标准校验和重复的文件移动到子文件夹."/>
<add key="Form_ChecksumCalculator_CheckBoxMoveVgmtDuplicates" value="如果找到,将VGMToolbox方法校验和重复的文件移动到子文件夹."/>
<add key="Form_ChecksumCalculator_MessageBegin" value="正在生成校验和...开始"/>
<add key="Form_ChecksumCalculator_MessageComplete" value="正在生成校验和...完成"/>
<add key="Form_ChecksumCalculator_MessageCancel" value="正在生成校验和...已取消"/>
<!-- Examine:搜索文件 -->
<add key="Form_SearchForFile_Title" value="搜索文件"/>
<add key="Form_SearchForFile_DoTaskButton" value="搜索"/>
<add key="Form_SearchForFile_IntroText" value="在文件夹和档案中搜索文件.输入搜索字符串,然后选择一个文件夹并单击“搜索”,或者拖放您要搜索的文件夹."/>
<add key="Form_SearchForFile_GroupSource" value="要搜索的目录"/>
<add key="Form_SearchForFile_LblDragNDrop" value="在此处拖放要搜索的目录."/>
<add key="Form_SearchForFile_GroupOptions" value="选项"/>
<add key="Form_SearchForFile_LblSearchString" value="搜索字符串（每行一个）"/>
<add key="Form_SearchForFile_CheckBoxCaseSensitive" value="区分大小写"/>
<add key="Form_SearchForFile_CheckBoxExtract" value="提取文件（如果在档案中,同名文件将相互覆盖）"/>
<add key="Form_SearchForFile_LblOutputFolder" value="输出文件夹（留空则提取到以档案文件命名的子文件夹中）"/>
<add key="Form_SearchForFile_MessageBegin" value="正在搜索文件...开始"/>
<add key="Form_SearchForFile_MessageComplete" value="正在搜索文件...完成"/>
<add key="Form_SearchForFile_MessageCancel" value="正在搜索文件...已取消"/>
<!-- GENH:GENH创建器 -->
<add key="Form_GenhCreator_Title" value="GENH 创建器/提取器"/>
<add key="Form_GenhCreator_IntroText" value="创建/提取GENH文件-选择一个包含要处理文件的目录,或将文件拖放到框中."/>
<add key="Form_GenhCreator_BtnDoTaskCreate" value="创建GENH文件"/>
<add key="Form_GenhCreator_BtnDoTaskEdit" value="编辑GENH文件"/>
<add key="Form_GenhCreator_BtnDoTaskExtract" value="提取GENH文件"/>
<add key="Form_GenhCreator_GroupSourceFiles" value="源文件"/>
<add key="Form_GenhCreator_tbSourceDirectory" value="源目录"/>
<add key="Form_GenhCreator_LblFilenameFilter" value="文件名过滤器"/>
<add key="Form_GenhCreator_GroupFormat" value="输入文件格式"/>
<add key="Form_GenhCreator_GroupOptions" value="选项"/>
<add key="Form_GenhCreator_LblHeaderSkip" value="头部跳过字节数"/>
<add key="Form_GenhCreator_LblInterleave" value="交错/块大小"/>
<add key="Form_GenhCreator_LblChannels" value="声道数"/>
<add key="Form_GenhCreator_LblFrequency" value="频率"/>
<add key="Form_GenhCreator_LblLoopStart" value="循环起始（采样数）"/>
<add key="Form_GenhCreator_LblLoopEnd" value="循环结束（采样数）"/>
<add key="Form_GenhCreator_CheckBoxManualEntry" value="手动输入"/>
<add key="Form_GenhCreator_CheckBoxNoLoops" value="无循环"/>
<add key="Form_GenhCreator_CheckBoxFileEnd" value="使用文件末尾"/>
<add key="Form_GenhCreator_CheckBoxFindLoop" value="查找循环"/>
<add key="Form_GenhCreator_LblRightCoef" value="系数偏移：右声道"/>
<add key="Form_GenhCreator_LblLeftCoef" value="系数偏移：左声道"/>
<add key="Form_GenhCreator_CheckBoxCapcomHack" value="卡普空破解模式"/>
<add key="Form_GenhCreator_CheckBoxHeaderOnly" value="仅输出头部"/>
<add key="Form_GenhCreator_MessageErrors" value="输入中发现错误"/>
<add key="Form_GenhCreator_MessageNoInputs" value="未选择输入文件."/>
<add key="Form_GenhCreator_MessageHeaderSkip" value="'头部跳过字节数' 是必填字段."/>
<add key="Form_GenhCreator_MessageInterleave" value="'交错/块大小' 是必填字段."/>
<add key="Form_GenhCreator_MessageChannels" value="'声道数' 是必填字段."/>
<add key="Form_GenhCreator_MessageFrequency" value="'频率' 是必填字段."/>
<add key="Form_GenhCreator_MessageLoopStart1" value="'循环起始' 是必填字段."/>
<add key="Form_GenhCreator_MessageLoopStart2" value="'循环起始' 必须大于零.如果您希望无循环,请使用该复选框."/>
<add key="Form_GenhCreator_MessageLoopEnd" value="如果未选中'使用文件末尾' 或'查找循环',则'循环结束' 是必填项."/>
<add key="Form_GenhCreator_MessageCoefRight" value="对于所选格式,'系数：右声道' 是必填字段."/>
<add key="Form_GenhCreator_MessageCoefLeft" value="对于所选格式,'系数：左声道' 是必填字段."/>
<add key="Form_GenhCreator_MessageFileEnd" value="对于所选格式,'使用文件末尾' 功能未实现."/>
<add key="Form_GenhCreator_MessageBegin" value="创建GENH文件...开始"/>
<add key="Form_GenhCreator_MessageComplete" value="创建GENH文件...完成"/>
<add key="Form_GenhCreator_MessageCancel" value="创建GENH文件...已取消"/>
<!-- 杂项:Hoot-XML构建器 -->
<add key="Form_HootXmlBuilder_Title" value="Hoot XML构建器"/>
<add key="Form_HootXmlBuilder_Intro" value="构建用于Hoot的框架XML文件.支持NSF、GBS、HES（需要.m3u文件）、KSS（需要.m3u文件）."/>
<add key="Form_HootXmlBuilder_GroupSource" value="源"/>
<add key="Form_HootXmlBuilder_LblDragNDrop" value="在此处拖放文件夹或文件."/>
<add key="Form_HootXmlBuilder_GroupOptions" value="选项"/>
<add key="Form_HootXmlBuilder_CheckBoxCombineOutput" value="合并输出到单个XML文件."/>
<add key="Form_HootXmlBuilder_CheckBoxSplitOutput" value="每个游戏输出一个文件."/>
<add key="Form_HootXmlBuilder_MessageBegin" value="Hoot XML生成...开始"/>
<add key="Form_HootXmlBuilder_MessageComplete" value="Hoot XML生成...完成"/>
<add key="Form_HootXmlBuilder_MessageCancel" value="Hoot XML生成...已取消"/>
<!-- 杂项:Hoot-集合审核器 -->
<add key="Form_HootCollectionAuditor_Title" value="Hoot集合审核器（Hoot审核结果验证引擎,没错！）"/>
<add key="Form_HootCollectionAuditor_BtnDoTask" value="审核集合"/>
<add key="Form_HootCollectionAuditor_Intro" value="- 警告：不同文件夹中重复的档案名称可能导致结果不准确. - 结果也将输出到'hoot'子文件夹中,作为一个Unicode格式（UTF-16 LE）的文本文件,名为'audit.txt'."/>
<add key="Form_HootCollectionAuditor_GrpOptions" value="选项"/>
<add key="Form_HootCollectionAuditor_LblFolder" value="XML文件夹"/>
<add key="Form_HootCollectionAuditor_LblArchiveFolders" value="档案文件夹"/>
<add key="Form_HootCollectionAuditor_CheckboxIncludeSubDirs" value="包含子目录"/>
<add key="Form_HootCollectionAuditor_MessageMissing" value="（缺失）"/>
<add key="Form_HootCollectionAuditor_MessageBegin" value="审核Hoot...开始"/>
<add key="Form_HootCollectionAuditor_MessageComplete" value="审核Hoot...完成"/>
<add key="Form_HootCollectionAuditor_MessageCancel" value="审核Hoot...已取消"/>
<!-- 杂项:NSF-NSFE转NSF+M3U-->
<add key="Form_Nsfe2M3u_Title" value="NSFE转NSF +.m3u"/>
<add key="Form_Nsfe2M3u_GroupSourceFiles" value="源文件"/>
<add key="Form_Nsfe2M3u_LblDragNDrop" value="在此处拖放文件夹或文件."/>
<add key="Form_Nsfe2M3u_GroupOptions" value="选项"/>
<add key="Form_Nsfe2M3u_CheckBoxOneM3uPerTrack" value="每个音轨额外输出一个.m3u文件"/>
<add key="Form_Nsfe2M3u_MessageBegin" value="NSFE转.M3U转换...开始"/>
<add key="Form_Nsfe2M3u_MessageComplete" value="NSFE转.M3U转换...完成"/>
<add key="Form_Nsfe2M3u_MessageCancel" value="NSFE转.M3U转换...已取消"/>
<!-- 杂项:GBS-GBS-M3U创建器 -->
<add key="Form_GbsM3u_Title" value="GBS.m3u构建器"/>
<add key="Form_GbsM3u_GroupSourceFiles" value="源文件"/>
<add key="Form_GbsM3u_LblDragNDrop" value="在此处拖放文件夹或文件."/>
<add key="Form_GbsM3u_GroupOptions" value="选项"/>
<add key="Form_GbsM3u_CheckBoxOneM3uPerTrack" value="每个音轨额外输出一个.m3u文件"/>
<add key="Form_GbsM3u_MessageBegin" value="GBS.M3U创建...开始"/>
<add key="Form_GbsM3u_MessageComplete" value="GBS.M3U创建...完成"/>
<add key="Form_GbsM3u_MessageCancel" value="GBS.M3U创建...已取消"/>
<!-- 杂项:VGM-VGM标签编辑器 -->
<add key="Form_VgmTagEditor_Title" value="VGM标签编辑器"/>
<add key="Form_VgmTagEditor_DoTaskButton" value="更新标签"/>
<add key="Form_VgmTagEditor_Info" value="- 拖放文件,或者输入一个目录,或者浏览选择一个目录. - 可以选择一个或多个文件进行标记.使用Shift+点击和Ctrl+点击来选择多个文件. - 右键点击文件列表可刷新或清除它. - 留空字段将删除其内容. - 仅当输入文件是GZip压缩的,输出文件才会进行GZip压缩."/>
<add key="Form_VgmTagEditor_GrpSourceFiles" value="源文件"/>
<add key="Form_VgmTagEditor_GrpSetTags" value="游戏标签"/>
<add key="Form_VgmTagEditor_LblGameEn" value="游戏（英文）"/>
<add key="Form_VgmTagEditor_LblGameJp" value="游戏（日文）"/>
<add key="Form_VgmTagEditor_LblSystemEn" value="系统（英文）"/>
<add key="Form_VgmTagEditor_LblSystemJp" value="系统（日文）"/>
<add key="Form_VgmTagEditor_LblArtistEn" value="艺术家（英文）"/>
<add key="Form_VgmTagEditor_LblArtistJp" value="艺术家（日文）"/>
<add key="Form_VgmTagEditor_LblGameDate" value="发布日期"/>
<add key="Form_VgmTagEditor_LblRipper" value="提取者"/>
<add key="Form_VgmTagEditor_GrpTrackTags" value="音轨标签"/>
<add key="Form_VgmTagEditor_LblTrackTitleEn" value="标题（英文）"/>
<add key="Form_VgmTagEditor_LblTrackTitleJp" value="标题（日文）"/>
<add key="Form_VgmTagEditor_GrpComments" value="注释"/>
<add key="Form_VgmTagEditor_MessageBegin" value="更新VGM标签...开始"/>
<add key="Form_VgmTagEditor_MessageComplete" value="更新VGM标签...完成"/>
<add key="Form_VgmTagEditor_MessageCancel" value="更新VGM标签...已取消"/>
    <!--杂项:xSF-XSF2EXE -->
    <add key="Form_Xsf2Exe_Title" value="xSF转EXE"/>
<add key="Form_Xsf2Exe_GroupSourceFiles" value="源文件"/>
<add key="Form_Xsf2Exe_LblDragNDrop" value="在此处拖放文件夹或文件."/>
<add key="Form_Xsf2Exe_GroupOptions" value="选项"/>
<add key="Form_Xsf2Exe_CheckBoxExtractReservedSection" value="同时提取保留部分"/>
<add key="Form_Xsf2Exe_CheckBoxIncludeOriginalExtension" value="在输出文件名中包含原始文件扩展名"/>
<add key="Form_Xsf2Exe_CheckBoxStripGsfHeader" value="解压缩后去除GSF头部"/>
<add key="Form_Xsf2Exe_MessageBegin" value="xSF2EXE...开始"/>
<add key="Form_Xsf2Exe_MessageComplete" value="xSF2EXE...完成"/>
<add key="Form_Xsf2Exe_MessageCancel" value="xSF2EXE...已取消"/>
<!-- 杂项:xSF-重新压缩xSF -->
<add key="Form_RecompressXsf_Title" value="重新压缩xSF文件"/>
<add key="Form_RecompressXsf_DoTaskButton" value="重新压缩xSF文件"/>
<add key="Form_RecompressXsf_GroupSource" value="源"/>
<add key="Form_RecompressXsf_LabelSourceDragNDrop" value="在此处拖放文件,或浏览选择一个文件夹."/>
<add key="Form_RecompressXsf_GroupOptions" value="选项"/>
<add key="Form_RecompressXsf_CheckBox7zipTopLevelFolders" value="7zip（超强）顶级文件夹（如适用）"/>
<add key="Form_RecompressXsf_MessageBegin" value="重新压缩数据...开始"/>
<add key="Form_RecompressXsf_MessageComplete" value="重新压缩数据...完成"/>
<add key="Form_RecompressXsf_MessageCancel" value="重新压缩数据...已取消"/>
<!-- 杂项:xSF-xSF标签编辑器 -->
<add key="Form_XsfTagEditor_Title" value="xSF标签编辑器"/>
<add key="Form_XsfTagEditor_DoTaskButton" value="更新标签"/>
<add key="Form_XsfTagEditor_Info" value="- 使用xSF风格标签（xSF/S98v3）标记文件. - 可选择单个或多个文件进行标记.使用Shift+点击和Ctrl+点击来选择多个文件. - 右键点击文件列表可刷新. - 由于Windows批处理文件无法使用UTF8编码,在从UTF8转换为ASCII时可能会丢失一些数据. - 小贴士：选择所有文件并点击“更新标签”将把标签更新为UTF8编码,并输出一个包含所有标签的批处理文件（若勾选该选项）."/>
<add key="Form_XsfTagEditor_GrpSourceFiles" value="源文件"/>
<add key="Form_XsfTagEditor_GrpSetTags" value="游戏标签"/>
<add key="Form_XsfTagEditor_LblGame" value="游戏"/>
<add key="Form_XsfTagEditor_LblArtist" value="艺术家"/>
<add key="Form_XsfTagEditor_LblCopyright" value="版权"/>
<add key="Form_XsfTagEditor_LblGenre" value="类型"/>
<add key="Form_XsfTagEditor_LblYear" value="年份"/>
<add key="Form_XsfTagEditor_LblXsfBy" value="xSF作者"/>
<add key="Form_XsfTagEditor_LblSystem" value="系统"/>
<add key="Form_XsfTagEditor_GrpTrackTags" value="音轨特定标签"/>
<add key="Form_XsfTagEditor_LblTrackTitle" value="标题"/>
<add key="Form_XsfTagEditor_LblLength" value="长度"/>
<add key="Form_XsfTagEditor_LblFade" value="渐变"/>
<add key="Form_XsfTagEditor_LblVolume" value="音量"/>
<add key="Form_XsfTagEditor_GrpComments" value="注释"/>
<add key="Form_XsfTagEditor_CbDeleteEmpty" value="从文件标签中删除您留空的字段."/>
<add key="Form_XsfTagEditor_CheckboxCreateBatch" value="为已更改文件中的所有值构建psfpoint.exe批处理文件（S98v3不支持）.输出将为ASCII编码."/>
<add key="Form_XsfTagEditor_MessageBegin" value="更新xSF标签...开始"/>
<add key="Form_XsfTagEditor_MessageComplete" value="更新xSF标签...完成"/>
<add key="Form_XsfTagEditor_MessageCancel" value="更新xSF标签...已取消"/>
<!-- 杂项:xSF-2SF-制作2SF文件 -->
<add key="Form_Make2sf_Title" value="制作2SF文件"/>
<add key="Form_Make2sf_DoTaskButton" value="制作2SF文件"/>
<add key="Form_Make2sf_IntroText1" value="- 感谢UNKNOWNFILE和CaitSith2在2SF相关工作上的贡献."/>
<add key="Form_Make2sf_IntroText2" value="- 'testpack.nds'未包含在内,必须下载并放置在()中."/>
<add key="Form_Make2sf_IntroText3" value="- 可通过双击“音量”列来更改输出文件中的音量."/>
<add key="Form_Make2sf_IntroText4" value="- 重复项将自动取消勾选,且该行显示为红色.如果您仍想包含它们,可以重新勾选."/>
<add key="Form_Make2sf_GroupSourcePaths" value="源路径"/>
<add key="Form_Make2sf_LabelSdat" value="SDAT"/>
<add key="Form_Make2sf_LabelOutputPath" value="输出路径"/>
<add key="Form_Make2sf_GroupSetInformation" value="集信息"/>
<add key="Form_Make2sf_LabelGame" value="游戏"/>
<add key="Form_Make2sf_LabelArtist" value="艺术家"/>
<add key="Form_Make2sf_LabelCopyright" value="版权"/>
<add key="Form_Make2sf_LabelGameSerial" value="游戏序列号"/>
<add key="Form_Make2sf_LabelYear" value="年份"/>
<add key="Form_Make2sf_ColumnHeader0" value="选择"/>
<add key="Form_Make2sf_ColumnHeader1" value="编号"/>
<add key="Form_Make2sf_ColumnHeader2" value="文件ID"/>
<add key="Form_Make2sf_ColumnHeader3" value="大小"/>
<add key="Form_Make2sf_ColumnHeader4" value="名称"/>
<add key="Form_Make2sf_ColumnHeader5" value="库"/>
<add key="Form_Make2sf_ColumnHeader6" value="音量"/>
<add key="Form_Make2sf_ColumnHeader7" value="CPR"/>
<add key="Form_Make2sf_ColumnHeader8" value="PPR"/>
<add key="Form_Make2sf_ColumnHeader9" value="PLY"/>
<add key="Form_Make2sf_ErrorMessageOutputFolder" value="输出文件夹不能与包含源SDAT的文件夹相同."/>
<add key="Form_Make2sf_ErrorMessageOutputFolderHeader" value="无效的输出文件夹"/>
<add key="Form_Make2sf_ErrorMessageTestpackMissing" value="0未找到.请将0放置在1中."/>
<add key="Form_Make2sf_ErrorMessageTestpackMissingHeader" value="缺少0"/>
<add key="Form_Make2sf_ErrorMessageTestpackCrc32" value="0的CRC32无效,请将0放置在1中,预期的CRC32为2."/>
<add key="Form_Make2sf_ErrorMessageTestpackCrc32Header" value="0的CRC32无效"/>
<add key="Form_Make2sf_MessageBegin" value="制作2SF文件...开始"/>
<add key="Form_Make2sf_MessageComplete" value="制作2SF文件...完成"/>
<add key="Form_Make2sf_MessageCancel" value="制作2SF文件...已取消"/>
<!-- 杂项:xSF-2SF-NDS转2SF -->
<add key="Form_NdsTo2sf_Title" value="NDS转2SF（全自动2SF创建）"/>
<add key="Form_NdsTo2sf_IntroText" value="- 直接从NDS游戏镜像创建2SF文件 -"/>
<add key="Form_NdsTo2sf_MessageBegin" value="NDS转2SF...开始"/>
<add key="Form_NdsTo2sf_MessageComplete" value="NDS转2SF...完成"/>
<add key="Form_NdsTo2sf_MessageCancel" value="NDS转2SF...已取消"/>
<!-- 杂项:xSF-2SF-2SF定时器 -->
<add key="Form_2sfTimer_Title" value="2SF定时器"/>
<add key="Form_2sfTimer_DoTaskButton" value="为2SF文件计时"/>
<add key="Form_2sfTimer_IntroText" value="为2SF文件计时."/>
<add key="Form_2sfTimer_GroupSourcePaths" value="源路径"/>
<add key="Form_2sfTimer_LblPathTo2sfFiles" value="2SF文件路径"/>
<add key="Form_2sfTimer_LblPathToSdat" value="SDAT路径"/>
<add key="Form_2sfTimer_LblFilePrefix" value="文件前缀"/>
<add key="Form_2sfTimer_GroupOptions" value="选项"/>
<add key="Form_2sfTimer_CheckboxSingleLoop" value="单循环（若为双循环则不勾选）"/>
<add key="Form_2sfTimer_MessageBegin" value="为2SF文件计时...开始"/>
<add key="Form_2sfTimer_MessageComplete" value="为2SF文件计时...完成"/>
<add key="Form_2sfTimer_MessageCancel" value="为2SF文件计时...已取消"/>
<!-- 杂项:xSF-2SF-SDAT优化器 -->
<add key="Form_SdatOptimizer_Title" value="SDAT优化器"/>
<add key="Form_SdatOptimizer_IntroText" value="优化SDAT以进行zlib压缩."/>
<add key="Form_SdatOptimizer_GroupSource" value="源SDAT"/>
<add key="Form_SdatOptimizer_LblDragNDrop" value="将需要优化的SDAT文件拖放到此处."/>
<add key="Form_SdatOptimizer_GroupOptions" value="选项"/>
<add key="Form_SdatOptimizer_LblStartingSequence" value="起始序列"/>
<add key="Form_SdatOptimizer_LblEndingSequence" value="结束序列"/>
<add key="Form_SdatOptimizer_CheckBoxIncludeAllSequences" value="包含所有序列"/>
<add key="Form_SdatOptimizer_MessageBegin" value="SDAT优化...开始"/>
<add key="Form_SdatOptimizer_MessageComplete" value="SDAT优化...完成"/>
<add key="Form_SdatOptimizer_MessageCancel" value="SDAT优化...已取消"/>

    <!-- 杂项:xSF-2SF-V1至V2标签复制器 -->
    <add key="Form_V1toV2TagMigrator_Title" value="2SF-V1至V2标签复制器"/>
<add key="Form_V1toV2TagMigrator_DoTaskButton" value="复制标签"/>
<add key="Form_V1toV2TagMigrator_Title_IntroText" value="- 将标签从旧版本的提取文件复制到新版本的提取文件. - 包含多个.2sflib文件的集合可能会因音轨ID重复而出现问题.请确保仅针对匹配的.2sflib（SDAT）文件运行此工具."/>
<add key="Form_V1toV2TagMigrator_LblV1Folder" value="V1文件夹"/>
<add key="Form_V1toV2TagMigrator_LblV2Folder" value="V2文件夹"/>
<add key="Form_V1toV2TagMigrator_BtnDefault" value="默认"/>
<add key="Form_V1toV2TagMigrator_BtnCheckAll" value="全选"/>
<add key="Form_V1toV2TagMigrator_BtnCheckNone" value="全不选"/>
<add key="Form_V1toV2TagMigrator_ErrorMatch" value="0与1 不匹配"/>
<add key="Form_V1toV2TagMigrator_Title_MessageBegin" value="复制标签...开始"/>
<add key="Form_V1toV2TagMigrator_Title_MessageComplete" value="复制标签...完成"/>
<add key="Form_V1toV2TagMigrator_Title_MessageCancel" value="复制标签...已取消"/>
<!-- 杂项:xSF-PSF-PSF数据查找器 -->
<add key="Form_PsfDataFinder_Title" value="PSF数据查找器"/>
<add key="Form_PsfDataFinder_IntroText" value="- 从文件中提取SEQ/VH/VB数据. - VH/VB应始终正确配对. - 注意：VB检测可能会非常慢,请耐心等待..."/>
<add key="Form_PsfDataFinder_GrpOptions" value="选项"/>
<add key="Form_PsfDataFinder_CbMinSqSize" value="最小SEQ大小"/>
<add key="Form_PsfDataFinder_CbByteAlign" value="VB数据始终从0x00偏移处开始（速度更快,可跳过误报）."/>
<add key="Form_PsfDataFinder_CbReorderSq" value="根据最大VH值对SEQ文件进行命名."/>
<add key="Form_PsfDataFinder_CbRelaxVbEof" value="放宽VB文件结束限制（仅使用样本长度来确定文件结束）"/>
<add key="Form_PsfDataFinder_MessageBegin" value="提取PSF数据...开始"/>
<add key="Form_PsfDataFinder_MessageComplete" value="提取PSF数据...完成"/>
<add key="Form_PsfDataFinder_MessageCancel" value="提取PSF数据...已取消"/>
<!-- 杂项:xSF-PSF-bin2psfFE -->
<add key="Form_Bin2PsfFE_Title" value="PSF制作器"/>
<add key="Form_Bin2PsfFE_DoTaskButton" value="制作PSF文件"/>
<add key="Form_Bin2PsfFE_IntroText" value="以批处理模式制作PSF文件. - VGMToolbox不支持将SEP与Mark Grass或Davironica的通用驱动程序一起使用.请先使用SEP分割器. - 由于驱动程序参数的位置问题,只有使用VGMToolbox创建的存根（或在相同地址具有相同参数的存根）修补的驱动程序才能使SEP正常工作.您可以在'./external/psf/psfdrv.c'文件中找到基本存根源."/>
<add key="Form_Bin2PsfFE_GroupSource" value="源"/>
<add key="Form_Bin2PsfFE_LblDriverPath" value="驱动程序路径"/>
<add key="Form_Bin2PsfFE_LblSourceFiles" value="源文件"/>
<add key="Form_Bin2PsfFE_LblOutputFolder" value="输出文件夹"/>
<add key="Form_Bin2PsfFE_LblPsfLibName" value="PSFLib名称"/>
<add key="Form_Bin2PsfFE_CheckBoxMinipsf" value="为VH/VB数据创建.psflib文件"/>
<add key="Form_Bin2PsfFE_GroupOptions" value="选项"/>
<add key="Form_Bin2PsfFE_LblSeqOffset" value="SEQ偏移量"/>
<add key="Form_Bin2PsfFE_LblVhOffset" value="VH偏移量"/>
<add key="Form_Bin2PsfFE_LblVbOffset" value="VB偏移量"/>
<add key="Form_Bin2PsfFE_CbZeroLengthSeq" value="允许零长度序列"/>
<add key="Form_Bin2PsfFE_GrpGenericDrivers" value="驱动程序预设"/>
<add key="Form_Bin2PsfFE_LblGenericDriver" value="预设"/>
<add key="Form_Bin2PsfFE_MessageBegin" value="PSF创建...开始"/>
<add key="Form_Bin2PsfFE_MessageComplete" value="PSF创建...完成"/>
<add key="Form_Bin2PsfFE_MessageCancel" value="PSF创建...已取消"/>
<!-- 杂项:xSF-PSF-PSF存根创建器 -->
<add key="Form_PsfStubCreator_Title" value="PSF驱动存根创建器"/>
<add key="Form_PsfStubCreator_IntroText" value="必须安装PsyQ SDK.请确保将您的PSYQ和PSYQ\BIN文件夹添加到PATH环境变量中.另外,请创建一个指向PSYQ顶级文件夹的PSYQ_PATH环境变量."/>
<add key="Form_PsfStubCreator_GroupOptions" value="选项"/>
<add key="Form_PsfStubCreator_LblDriverText" value="驱动程序文本字符串"/>
<add key="Form_PsfStubCreator_ErrPsyQPath" value="未找到PSYQ_PATH环境变量."/>
<add key="Form_PsfStubCreator_ErrPsyQSdk" value="在您的PATH环境变量列出的任何目录中均未找到所需的PsyQ SDK可执行文件（CCPSX.EXE、PSYLINK.EXE）.请更新您的PATH环境变量或安装PsyQ SDK."/>
<add key="Form_PsfStubCreator_MessageBegin" value="构建PSF驱动存根...开始"/>
<add key="Form_PsfStubCreator_MessageComplete" value="构建PSF驱动存根...完成"/>
<add key="Form_PsfStubCreator_MessageCancel" value="构建PSF驱动存根...已取消"/>
<!-- 杂项:xSF-PSF-VAB分割器 -->
<add key="Form_VabSplitter_Title" value="PSF VAB分割器"/>
<add key="Form_VabSplitter_IntroText" value="将PSX VAB格式文件分割为.VH和.VB文件."/>
<add key="Form_VabSplitter_MessageBegin" value="分割VAB文件...开始"/>
<add key="Form_VabSplitter_MessageComplete" value="分割VAB文件...完成"/>
<add key="Form_VabSplitter_MessageCancel" value="分割VAB文件...已取消"/>
<!-- 杂项:xSF-PSF-PSF定时器 -->
<add key="Form_SeqExtractor_Title" value="PSF定时器"/>
<add key="Form_SeqExtractor_IntroText" value="- 从文件中提取SEQ并构建计时脚本. - 虽然已尝试正确提取有问题的提取文件,但请注意,许多提取文件缺少正确的终止字符（0xFF2F00）,因此无法准确提取SEQ.对于此类提取文件,您应纠正SEQ部分或手动提取并以这种方式计时. - 计时工具假定每个源文件有一个SEQ,并将对找到的第一个SEQ进行计时."/>
<add key="Form_SeqExtractor_GroupSource" value="源文件"/>
<add key="Form_SeqExtractor_LblDragNDrop" value="在此处拖放要扫描的文件."/>
<add key="Form_SeqExtractor_GroupOptions" value="选项"/>

    <add key="Form_SeqExtractor_CheckBoxForce2Loops" value="对所有找到的循环强制设置为2次循环（不推荐,仅用于时长过长的音轨）"/>
<add key="Form_SeqExtractor_CheckBoxLoopEntireTrack" value="将计算出的时间乘以2（这对于整个音轨循环但实际上不包含循环命令的音轨很有用）"/>
<add key="Form_SeqExtractor_CheckBoxForceType" value="强制设置源类型（对于正确的SEP提取文件,必须输入SEQ偏移量）"/>
<add key="Form_SeqExtractor_RadioForceSepType" value="SEP类型"/>
<add key="Form_SeqExtractor_RadioForceSeqType" value="SEQ类型"/>
<add key="Form_SeqExtractor_MessageBegin" value="为PSF文件计时...开始"/>
<add key="Form_SeqExtractor_MessageComplete" value="为PSF文件计时...完成"/>
<add key="Form_SeqExtractor_MessageCancel" value="为PSF文件计时...已取消"/>
<!-- 杂项:xSF-PSF-简易PSF驱动提取器 -->
<add key="Form_EasyPsfExtractor_Title" value="简易PSF驱动数据提取器"/>
<add key="Form_EasyPsfExtractor_IntroText" value="- 从简易PSF驱动集合中提取SEQ/VH/VB,以便与原始驱动一起重建. - 如果集合使用Davironica的简易PSF驱动,此工具提取数据的速度将比PSF数据查找器快得多."/>
<add key="Form_EasyPsfExtractor_MessageBegin" value="提取简易PSF驱动数据...开始"/>
<add key="Form_EasyPsfExtractor_MessageComplete" value="提取简易PSF驱动数据...完成"/>
<add key="Form_EasyPsfExtractor_MessageCancel" value="提取简易PSF驱动数据...已取消"/>
<!-- 杂项:xSF-PSF2-PSF2数据查找器 -->
<add key="Form_Psf2DataFinder_Title" value="PSF2数据查找器"/>
<add key="Form_Psf2DataFinder_IntroText" value="- 从文件中提取SQ/HD/BD数据. - HD/BD应始终正确配对. - 注意：BD检测可能会非常慢,请耐心等待..."/>
<add key="Form_Psf2DataFinder_GrpOptions" value="选项"/>
<add key="Form_Psf2DataFinder_CbMinSqSize" value="最小SQ大小"/>
<add key="Form_Psf2DataFinder_CbByteAlign" value="BD数据始终从0x00偏移处开始（速度更快,可跳过误报）."/>
<add key="Form_Psf2DataFinder_CbReorderSq" value="根据最大HD值对SQ文件进行命名."/>
<add key="Form_Psf2DataFinder_MessageBegin" value="提取PSF2数据...开始"/>
<add key="Form_Psf2DataFinder_MessageComplete" value="提取PSF2数据...完成"/>
<add key="Form_Psf2DataFinder_MessageCancel" value="提取PSF2数据...已取消"/>
<!-- 杂项:xSF-PSF2-mkpsf2前端 -->
<add key="Form_MkPsf2FE_Title" value="mkpsf2前端"/>
<add key="Form_MkPsf2FE_DoTaskButton" value="构建PSF2文件"/>
<add key="Form_MkPsf2FE_IntroText1" value="源目录：BD/HD/SQ文件的路径."/>
<add key="Form_MkPsf2FE_IntroText2" value="模块目录：IRX文件的路径."/>
<add key="Form_MkPsf2FE_IntroText3" value="注意：确保匹配的BD/HD/SQ文件具有相同的文件名."/>
<add key="Form_MkPsf2FE_GroupDirectory" value="源"/>
<add key="Form_MkPsf2FE_LblSourceDirectory" value="源目录"/>
<add key="Form_MkPsf2FE_LblModulesDirectory" value="模块目录"/>
<add key="Form_MkPsf2FE_LblOutputFolder" value="输出文件夹"/>
<add key="Form_MkPsf2FE_GroupOptions" value="选项（留空为默认值）"/>
<add key="Form_MkPsf2FE_LblReverb" value="混响"/>
<add key="Form_MkPsf2FE_LblDepth" value="深度"/>
<add key="Form_MkPsf2FE_LblVolume" value="音量"/>
<add key="Form_MkPsf2FE_LblTempo" value="节奏"/>
<add key="Form_MkPsf2FE_LblTickInterval" value="节拍间隔"/>
<add key="Form_MkPsf2FE_LblAuthor" value="mkpsf2.exe由Neill Corlett编写（http://www.neillcorlett.com/）."/>
<add key="Form_MkPsf2FE_MessageBegin" value="构建PSF2文件...开始"/>
<add key="Form_MkPsf2FE_MessageComplete" value="构建PSF2文件...完成"/>
<add key="Form_MkPsf2FE_MessageCancel" value="构建PSF2文件...已取消"/>
<!-- 杂项:xSF-PSF2-unpkpsf2前端 -->
<add key="Form_UnpkPsf2FE_Title" value="PSF2解包器"/>
<add key="Form_UnpkPsf2FE_IntroText" value="解包PSF2文件."/>
<add key="Form_UnpkPsf2FE_GroupSource" value="源文件/文件夹"/>
<add key="Form_UnpkPsf2FE_LblDragNDrop" value="将PSF2文件（或包含PSF2文件的文件夹）拖放到此处进行解包"/>
<add key="Form_UnpkPsf2FE_LblAuthor" value=""/>
<add key="Form_UnpkPsf2FE_MessageBegin" value="PSF2解包...开始"/>
<add key="Form_UnpkPsf2FE_MessageComplete" value="PSF2解包...完成"/>
<add key="Form_UnpkPsf2FE_MessageCancel" value="PSF2解包...已取消"/>
<!-- 杂项:xSF-PSF2-PSF2转PSF2LIB -->
<add key="Form_Psf2ToPsf2Lib_Title" value="PSF2转PSF2LIB（库构建器）"/>
<add key="Form_Psf2ToPsf2Lib_DoTaskButton" value="合并PSF2文件"/>
<add key="Form_Psf2ToPsf2Lib_IntroText1" value="所有文件必须使用相同的模块."/>
<add key="Form_Psf2ToPsf2Lib_IntroText2" value="此功能仅适用于标准CSL提取文件."/>
<add key="Form_Psf2ToPsf2Lib_IntroText3" value="文件将输出到VGMToolbox下的'rips\psf2s'子文件夹中."/>
<add key="Form_Psf2ToPsf2Lib_GroupSource" value="源目录"/>
<add key="Form_Psf2ToPsf2Lib_GroupOptions" value="选项"/>
<add key="Form_Psf2ToPsf2Lib_LblOutputFilePrefix" value="输出文件前缀"/>
<add key="Form_Psf2ToPsf2Lib_MessageBegin" value="合并PSF2文件...开始"/>
<add key="Form_Psf2ToPsf2Lib_MessageComplete" value="合并PSF2文件...完成"/>
<add key="Form_Psf2ToPsf2Lib_MessageCancel" value="合并PSF2文件...已取消"/>
<!-- 杂项:xSF-PSF2-PSF2 SQ提取器 -->
<add key="Form_Psf2SqExtractor_Title" value="PSF2 SQ提取器"/>
<add key="Form_Psf2SqExtractor_IntroText" value="仅从CSL PSF2文件中提取SQ文件,并将其重命名为与源文件相同的名称."/>
<add key="Form_Psf2SqExtractor_GroupSource" value="源文件/文件夹"/>
<add key="Form_Psf2SqExtractor_LblDragNDrop" value="将PSF2文件拖放到此处进行提取"/>
<add key="Form_Psf2SqExtractor_MessageBegin" value="SQ提取...开始"/>
<add key="Form_Psf2SqExtractor_MessageComplete" value="SQ提取...完成"/>
<add key="Form_Psf2SqExtractor_MessageCancel" value="SQ提取...已取消"/>
<!-- 杂项:xSF-PSF2-PSF2定时器 -->
<add key="Form_Psf2Timer_Title" value="PSF2定时器"/>
<add key="Form_Psf2Timer_IntroText" value="将PSF2文件拖放到上方框中.每个PSF2文件所在目录将输出一个计时脚本."/>
<add key="Form_Psf2Timer_GroupSource" value="源文件"/>
<add key="Form_Psf2Timer_LblDragNDrop" value="将PSF2文件（或包含PSF2文件的文件夹）拖放到此处进行计时"/>
<add key="Form_Psf2Timer_MessageBegin" value="为PSF2文件计时...开始"/>
<add key="Form_Psf2Timer_MessageComplete" value="为PSF2文件计时...完成"/>
<add key="Form_Psf2Timer_MessageCancel" value="为PSF2文件计时...已取消"/>
<!-- 杂项:xSF-SSF-ssfmake前端 -->
<add key="Form_SsfMakeFE_Title" value="ssfmake前端（注意：必须安装Python并将其添加到系统路径中.）"/>
<add key="Form_SsfMakeFE_DoTaskButton" value="构建SSF文件"/>
<add key="Form_SsfMakeFE_IntroText1" value="- ssfmake.py、ssfinfo.py、seqext.py和tonext.py均由kingshriek编写（snesmusic.org/hoot/kingshriek/ssf/）."/>
<add key="Form_SsfMakeFE_IntroText2" value="- 请将数据集合命名为SEQ/BIN/EXB."/>
<add key="Form_SsfMakeFE_IntroText3" value="- DSP映射检查尚未实现."/>
<add key="Form_SsfMakeFE_IntroText4" value="- 自动搜索在所有文件都位于单个档案中时效果最佳（可能仅在此情况下有效）."/>
<add key="Form_SsfMakeFE_GroupFiles" value="文件"/>
<add key="Form_SsfMakeFE_LblDriver" value="驱动程序"/>
<add key="Form_SsfMakeFE_LblSourcePath" value="源路径"/>
<add key="Form_SsfMakeFE_LblOutputFolder" value="输出文件夹"/>
<add key="Form_SsfMakeFE_LblSingleDspFile" value="单个DSP文件（可选）"/>
    <add key="Form_SsfMakeFE_GroupSettings" value="设置"/>
<add key="Form_SsfMakeFE_LblSequenceBank" value="序列库"/>
<add key="Form_SsfMakeFE_LblSequenceTrack" value="序列音轨"/>
<add key="Form_SsfMakeFE_LblVolume" value="音量"/>
<add key="Form_SsfMakeFE_LblMixerBank" value="混音器库"/>
<add key="Form_SsfMakeFE_LblMixerNumber" value="混音器编号"/>
<add key="Form_SsfMakeFE_LblEffect" value="效果"/>
<add key="Form_SsfMakeFE_CheckBoxMatchSeqBank" value="匹配序列库"/>
<add key="Form_SsfMakeFE_CheckBoxSeekData" value="忽略文件扩展名,使用seqext.py和tonext.py查找数据.如果源路径中有.EXB文件,将获取这些文件.请确保.EXB文件名与包含SEQ/TONE数据的文件相匹配."/>
<add key="Form_SsfMakeFE_MessageBegin" value="构建SSF文件...开始"/>
<add key="Form_SsfMakeFE_MessageComplete" value="构建SSF文件...完成"/>
<add key="Form_SsfMakeFE_MessageCancel" value="构建SSF文件...已取消"/>
<!-- 杂项:xSF-SSF-seqext/tonext前端 -->
<add key="Form_SeqextTonextFE_Title" value="seqext.py/tonext.py前端（注意：必须安装Python并将其添加到系统路径中.）"/>
<add key="Form_SeqextTonextFE_IntroText" value="从文件中提取SEQ/TON数据以创建SSF文件."/>
<add key="Form_SeqextTonextFE_GroupSource" value="源文件"/>
<add key="Form_SeqextTonextFE_LblDragNDrop" value="将文件拖放到此处进行检查."/>
<add key="Form_SeqextTonextFE_CheckBoxExtractToSubfolder" value="将每个文件提取到子文件夹中."/>
<add key="Form_SeqextTonextFE_LblAuthor" value="seqext.py和tonext.py由kingshriek编写（snesmusic.org/hoot/kingshriek/ssf/）."/>
<add key="Form_SeqextTonextFE_MessageBegin" value="SEQ/TON提取...开始"/>
<add key="Form_SeqextTonextFE_MessageComplete" value="SEQ/TON提取...完成"/>
<add key="Form_SeqextTonextFE_MessageCancel" value="SEQ/TON提取...已取消"/>
<!-- 杂项:提取-通用-Snakebite图形用户界面 -->
<add key="Form_SnakebiteGUI_Title" value="简易切割器（Snakebite图形用户界面）"/>
<add key="Form_SnakebiteGUI_BtnDoTask" value="切割文件"/>
<add key="Form_SnakebiteGUI_IntroText" value="- 简易二进制文件切割器. - 批量模式将自动切割所有拖入的文件,并使用原始文件名和输入的输出文件扩展名输出切割后的文件."/>
<add key="Form_SnakebiteGUI_ErrorSingleFile" value="请仅拖入单个文件."/>
<add key="Form_SnakebiteGUI_ErrorInputOutputSame" value="输入和输出文件不能相同."/>
<add key="Form_SnakebiteGUI_GrpFiles" value="文件"/>
<add key="Form_SnakebiteGUI_LblSourceFiles" value="源文件"/>
<add key="Form_SnakebiteGUI_LblDragNDrop" value="拖放源文件,或浏览选择单个文件"/>
<add key="Form_SnakebiteGUI_GroupOutputMode" value="输出模式"/>
<add key="Form_SnakebiteGUI_RbNameOutput" value="单文件模式"/>
<add key="Form_SnakebiteGUI_RbAutoName" value="批量模式"/>
<add key="Form_SnakebiteGUI_LblOutputFile" value="输出文件"/>
<add key="Form_SnakebiteGUI_LblFileExtension" value="输出文件扩展名"/>
<add key="Form_SnakebiteGUI_GrpOptions" value="切割选项"/>
<add key="Form_SnakebiteGUI_LblStartAddress" value="起始地址"/>
<add key="Form_SnakebiteGUI_RbEndAddress" value="结束地址"/>
<add key="Form_SnakebiteGUI_RbLength" value="长度"/>
<add key="Form_SnakebiteGUI_RbEndOfFile" value="文件末尾（EOF）"/>
<add key="Form_SnakebiteGUI_MessageBegin" value="切割文件...开始"/>
<add key="Form_SnakebiteGUI_MessageComplete" value="切割文件...完成"/>
<add key="Form_SnakebiteGUI_MessageCancel" value="切割文件...已取消"/>
<!-- 杂项:提取-通用-高级切割器/偏移查找器 -->
<add key="Form_SimpleCutter_Title" value="高级切割器/偏移查找器"/>
<add key="Form_SimpleCutter_IntroText" value="搜索偏移量,或根据输入条件搜索偏移量并进行切割. - 对于其魔数（Magic Bytes）位于非零偏移处的文件类型（如SSF驱动程序）,使用“搜索字符串位于偏移处”. - 对于在文件头中存储长度的文件类型,使用“切割大小位于偏移处”. - 预设的.xml文件应放置在plugins\AdvancedCutter中以便被检测到."/>
<add key="Form_SimpleCutter_GroupFiles" value="要搜索的文件"/>
<add key="Form_SimpleCutter_LblDragNDrop" value="将文件拖放到此处进行搜索."/>
<add key="Form_SimpleCutter_GroupCriteria" value="条件"/>
<add key="Form_SimpleCutter_CheckBoxDoCut" value="提取文件"/>
<add key="Form_SimpleCutter_LblStringAtOffset" value="搜索字符串位于偏移处"/>
<add key="Form_SimpleCutter_LblOutputExtension" value="输出文件扩展名"/>
<add key="Form_SimpleCutter_GroupCutSizeOptions" value="切割大小选项"/>
<add key="Form_SimpleCutter_RadioStaticCutSize" value="使用静态切割大小"/>
<add key="Form_SimpleCutter_RadioOffsetBasedCutSize" value="切割大小位于偏移处"/>
<add key="Form_SimpleCutter_LblHasSize" value="并且大小为"/>
<add key="Form_SimpleCutter_LblStoredIn" value="并存储在"/>
<add key="Form_SimpleCutter_LblInBytes" value="字节."/>
<add key="Form_SimpleCutter_LblFromStart" value="从文件起始位置开始切割."/>
<add key="Form_SimpleCutter_LblInBytes2" value="字节."/>
<add key="Form_SimpleCutter_LblByteOrder" value="字节顺序."/>
<add key="Form_SimpleCutter_RadioUseTerminator" value="使用终止字符串"/>
<add key="Form_SimpleCutter_CheckBoxTreatTerminatorAsHex" value="视为十六进制"/>
<add key="Form_SimpleCutter_CheckBoxIncludeTerminatorInLength" value="在切割大小计算中包含终止符"/>
<add key="Form_SimpleCutter_CheckBoxExtracCutSizeBytes" value="在切割大小上增加额外字节"/>
<add key="Form_SimpleCutter_MessageBegin" value="搜索字符串...开始"/>
<add key="Form_SimpleCutter_MessageComplete" value="搜索字符串...完成"/>
<add key="Form_SimpleCutter_MessageCancel" value="搜索字符串...已取消"/>
<!-- 杂项:提取-通用-CD-XA提取器 -->
<add key="Form_CdxaExtractor_Title" value="CD-XA提取器"/>
<add key="Form_CdxaExtractor_IntroText" value="从文件中提取XA数据.应使用ISO提取工具从光盘镜像中提取XA文件,然后您可以在此处提取CD - XA音频数据."/>
<add key="Form_CdxaExtractor_GroupSource" value="源文件"/>
<add key="Form_CdxaExtractor_LblDragNDrop" value="拖放文件（或包含文件的文件夹）以检查XA数据."/>
<add key="Form_CdxaExtractor_GroupOptions" value="选项"/>
<add key="Form_CdxaExtractor_LblSilentBlocks" value="确定文件结束的静音帧数（如果多个音轨被提取到单个文件中,请减小此值.）"/>
<add key="Form_CdxaExtractor_CheckBoxAddRiffHeader" value="添加RIFF头（目前所有播放器都需要）."/>
<add key="Form_CdxaExtractor_CheckBoxPatchByte0x11" value="将0x11处的字节修补为0x00（大多数播放器也需要）."/>
<add key="Form_CdxaExtractor_MessageBegin" value="提取XA数据...开始"/>
<add key="Form_CdxaExtractor_MessageComplete" value="提取XA数据...完成"/>
<add key="Form_CdxaExtractor_MessageCancel" value="提取XA数据...已取消"/>
<!-- 杂项:提取-通用-MIDI提取器 -->
<add key="Form_MidiExtractor_Title" value="MIDI提取器"/>
<add key="Form_MidiExtractor_IntroText" value="提取嵌入在其他文件中的MIDI文件."/>
<add key="Form_MidiExtractor_MessageBegin" value="提取MIDI数据...开始"/>
<add key="Form_MidiExtractor_MessageComplete" value="提取MIDI数据...完成"/>
<add key="Form_MidiExtractor_MessageCancel" value="提取MIDI数据...已取消"/>
<!-- 杂项:提取-NDS-SDAT提取器 -->
<add key="Form_SdatExtractor_Title" value="任天堂DS SDAT提取器"/>
<add key="Form_SdatExtractor_IntroText" value="从SDAT中提取所有文件并创建一个SMAP"/>
<add key="Form_SdatExtractor_GroupSource" value="源SDAT"/>
<add key="Form_SdatExtractor_LblDragNDrop" value="将SDAT拖放到此处进行提取."/>
<add key="Form_SdatExtractor_MessageBegin" value="提取SDAT...开始"/>
<add key="Form_SdatExtractor_MessageComplete" value="提取SDAT...完成"/>
<add key="Form_SdatExtractor_MessageCancel" value="提取SDAT...已取消"/>
<!-- 杂项:提取-NDS-SDAT查找器 -->
<add key="Form_SdatFinder_Title" value="任天堂DS SDAT查找器"/>
<add key="Form_SdatFinder_IntroText" value="在文件中搜索SDAT并提取它们."/>
<add key="Form_SdatFinder_GroupSource" value="源文件"/>
<add key="Form_SdatFinder_LblDragNDrop" value="将文件拖放到此处进行搜索."/>
<add key="Form_SdatFinder_MessageBegin" value="搜索SDAT...开始"/>
<add key="Form_SdatFinder_MessageComplete" value="搜索SDAT...完成"/>
<add key="Form_SdatFinder_MessageCancel" value="搜索SDAT...已取消"/>
<!-- 杂项:压缩-Gzip压缩与解压缩 -->
<add key="Form_GzipCompress_Title" value="gzip压缩器/解压缩器"/>
<add key="Form_GzipCompress_IntroText1" value="- 解压缩后的文件将使用原始文件名加上文件扩展名输出."/>
<add key="Form_GzipCompress_IntroText2" value="- 压缩后的文件将使用原始文件名加上文件扩展名输出."/>
<add key="Form_GzipCompress_ErrorIntParse" value="无法解析偏移量,请输入一个整数.确保十六进制值前缀为0x"/>
<add key="Form_GzipCompress_GrpOptions" value="选项"/>
<add key="Form_GzipCompress_RbDecompress" value="解压缩"/>
<add key="Form_GzipCompress_RbCompress" value="压缩"/>
<add key="Form_GzipCompress_LblOffset" value="起始偏移量"/>
<add key="Form_GzipCompress_MessageBegin" value="压缩/解压缩gzip数据...开始"/>
<add key="Form_GzipCompress_MessageComplete" value="压缩/解压缩gzip数据...完成"/>
<add key="Form_GzipCompress_MessageCancel" value="压缩/解压缩gzip数据...已取消"/>
<!-- 杂项:压缩 -Zlib压缩与解压缩 -->
<add key="Form_ZlibCompress_Title" value="zlib压缩器/解压缩器"/>
<add key="Form_ZlibCompress_IntroText1" value="- 解压缩后的文件将使用原始文件名加上文件扩展名输出."/>
<add key="Form_ZlibCompress_IntroText2" value="- 压缩后的文件将使用原始文件名加上文件扩展名输出."/>
<add key="Form_ZlibCompress_GrpOptions" value="选项"/>
<add key="Form_ZlibCompress_RbDecompress" value="解压缩"/>
<add key="Form_ZlibCompress_RbCompress" value="压缩"/>
<add key="Form_ZlibCompress_LblOffset" value="起始偏移量"/>
<add key="Form_ZlibCompress_MessageBegin" value="压缩/解压缩zlib数据...开始"/>
<add key="Form_ZlibCompress_MessageComplete" value="压缩/解压缩zlib数据...完成"/>
<add key="Form_ZlibCompress_MessageCancel" value="压缩/解压缩zlib数据...已取消"/>
<add key="ClientSettingsProvider.ServiceUri" value=""/>
</appSettings>
<system.web>
<membership defaultProvider="ClientAuthenticationMembershipProvider">
<providers>
<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
</providers>
</membership>
<roleManager enabled="true" defaultProvider="ClientRoleProvider">
<providers>
<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
</providers>
</roleManager>
</system.web>
<entityFramework>
<providers>
<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
<provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
</providers>
</entityFramework>
<system.data>
<DbProviderFactories>
<remove invariant="System.Data.SQLite.EF6"/>
<add name="SQLite数据提供程序（实体框架6）" invariant="System.Data.SQLite.EF6" description=".NET Framework数据提供程序 for SQLite（实体框架6）" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
<remove invariant="System.Data.SQLite"/>
<add name="SQLite数据提供程序" invariant="System.Data.SQLite" description=".NET Framework数据提供程序 for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
</DbProviderFactories>
</system.data>
</configuration>
